<form (ngSubmit)="submit()" class="space-y-4 p-4">

  <!-- Consumidor -->
  <div>
    <label for="consumidor" class="block text-sm font-medium text-gray-700">Consumidor</label>
    <input id="consumidor" [(ngModel)]="formData.consumidor" name="consumidor" placeholder="nombre del consumidor"
      autocomplete="off" (input)="formData.consumidor = formData.consumidor.toUpperCase()"
      class="w-full border px-4 py-2 rounded-lg placeholder:lowercase uppercase"
      [class.border-red-500]="hasError('Consumidor')" required />
    <!-- ✅ Mensaje dinámico de error -->
    <div *ngIf="hasError('Consumidor')" class="text-red-500 text-sm mt-1">
      El campo consumidor no puede estar vacío ni contener solo espacios.
    </div>
  </div>
  <!-- Clave (solo visible en edición) -->
  <div *ngIf="formData.id" class="flex items-end space-x-2 mt-4">
    <div class="flex-1">
      <label for="clave" class="font-semibold text-[#046CAC]">Clave:</label>
      <input [type]="claveVisible ? 'text' : 'password'" id="clave" [(ngModel)]="formData.clave" name="clave"
        class="w-full border px-4 py-2 rounded font-mono" readonly />
    </div>
    <button type="button" (click)="toggleClave()" class="bg-blue-600 text-white px-3 py-2 rounded hover:bg-blue-700">
      {{ claveVisible ? 'Ocultar' : 'Ver' }}
    </button>
    <button *ngIf="formData.id" type="button" (click)="refactorizarClave()"
      class="bg-green-600 text-white px-3 py-2 rounded hover:bg-green-700">
      🔑 Refactorizar
    </button>
  </div>

  <!-- Permisos -->
  <h3 class="text-lg font-semibold mt-4">Permisos:</h3>

  <label class="flex items-center space-x-2">
    <input type="checkbox" [(ngModel)]="formData.lectura" name="lectura" />
    <span>Lectura</span>
  </label>

  <label class="flex items-center space-x-2">
    <input type="checkbox" [(ngModel)]="formData.escritura" name="escritura" />
    <span>Escritura</span>
  </label>

  <label class="flex items-center space-x-2">
    <input type="checkbox" [(ngModel)]="formData.actualizacion" name="actualizacion" />
    <span>Actualización</span>
  </label>

  <label class="flex items-center space-x-2">
    <input type="checkbox" [(ngModel)]="formData.eliminacion" name="eliminacion" />
    <span>Eliminación</span>
  </label>

  <!-- Botón submit -->
  <button type="submit" class="w-full bg-linear-to-r from-[#046BB4] to-[#4484B4] text-white py-3 px-4 rounded-lg font-semibold
                 shadow-md hover:shadow-glow transform transition-all duration-300
                 hover:scale-[1.05] active:scale-[0.95]
                 focus:outline-none focus:ring-2 focus:ring-[#046BB4] focus:ring-offset-2
                 disabled:opacity-50 disabled:cursor-not-allowed disabled:transform-none">
    {{ formData.id ? '💾 Guardar cambios' : '🔑 Crear API Key' }}
  </button>
</form>